Datenvorbereitung
Definitionen von Armut, etc.
Klassifizierung der einzelnen Steps nach Crisp-DM

In [3]:
import pandas as pd
import os

# Folder path containing CSV files
folder_path = '/home/jakob/Uni/data_visualization/Rastetter-Dietrich-Denig/data'  # "Medium" predictions are used

# Get list of all CSV files in the folder
file_paths = [os.path.join(folder_path, file) for file in os.listdir(folder_path) if file.endswith('.csv')]

# List to store DataFrames
dfs = []

# Read each CSV file into a DataFrame and rename columns
for file_path in file_paths:
    df = pd.read_csv(file_path)

    # Rename column 'Year(s)' to 'Year'
    df.rename(columns={'Year(s)': 'Year', 'Time Period': 'Year', 'Reference Area': 'Country or Area',
                       'Observation Value': 'Value'},
              inplace=True)

    df = df[(df['Year'] != 2101)]

    if 'Sex' in df.columns:
        # Filter rows where 'sex' column is 'all genders'
        df = df[df['Sex'] == 'All genders']

    # Filter columns
    df = df[['Country or Area', 'Year', 'Value']]

    # Extract the last part of the file path as the column suffix
    file_name = os.path.splitext(os.path.basename(file_path))[0]

    # Create custom column names
    custom_names = [f'{file_name}' if col == 'Value' else col for col in ['Country or Area', 'Year', 'Value']]

    # Rename columns
    df.columns = custom_names
    dfs.append(df)

# Merge the DataFrames based on 'Country or Area' and 'Year'
combined_df = dfs[0]
for df in dfs[1:]:
    combined_df = pd.merge(combined_df, df, on=['Country or Area', 'Year'], how='outer')
# regions to filter out (NOT READY, ONLY SOME SELECTED), no list found to differ from country and area
regions_to_exclude = ['Africa', 'Asia', 'Australia/New Zealand', 'Australia/New Zealand', 'World', 'Eastern Africa',
                      'Eastern Africa', 'Eastern and South-Eastern Asia', 'Eastern Europe', 'High-income countries',
                      'Land-locked Developing Countries (LLDC)', 'Less developed regions, excluding China',
                      'Less developed regions',
                      'Less developed regions, excluding least developed countries',
                      'Small Island Developing States (SIDS)',
                      'No income group available', 'Northern Africa', 'Northern Africa and Western Asia',
                      'Northern America',
                      'Northern Europe', 'Low-income countries', 'Middle-income countries', 'More developed regions',
                      'Middle Africa',
                      'Eastern Asia', 'Soutern Asia', 'Western Europe', 'Upper-middle-income countries',
                      'Lower-middle-income countries',
                      'Europe', 'South-Eastern Asia', 'Southern Europe', 'Southern Asia', 'Southern Africa',
                      'Europe and Northern America',
                      'Central Asia', 'Central America', 'Central and Southern Asia', 'Sub-Saharan Africa',
                      'Least developed countries',
                      'Latin America and the Caribbean', 'Western Africa', 'South America', 'Western Asia']


def filter_regions(df, regions_to_exclude):
    filtered_df = df[~df['Country or Area'].isin(regions_to_exclude)]
    return filtered_df


# filter out regions
filtered_combined_df = filter_regions(combined_df, regions_to_exclude)

display(filtered_combined_df.head(10))

,Country or Area,Year,total_fertility_rate,school_life_expextancy_ISCED_1-8,total_population,life_expectancy,infant_mortality_rate,GDP_per_capita_constant_dollar_2017
0,Afghanistan,2100,1.8720,NaN,110854.784,77.5384,7.4881,NaN
1,Afghanistan,2099,1.8764,NaN,110621.216,77.3909,7.6078,NaN
2,Afghanistan,2098,1.8849,NaN,110366.921,77.2354,7.7567,NaN
3,Afghanistan,2097,1.8816,NaN,110094.664,77.0851,7.8799,NaN
4,Afghanistan,2096,1.8949,NaN,109802.281,76.9370,8.0198,NaN
5,Afghanistan,2095,1.8984,NaN,109487.140,76.7848,8.1644,NaN
6,Afghanistan,2094,1.9005,NaN,109153.078,76.6453,8.2910,NaN
7,Afghanistan,2093,1.9010,NaN,108801.262,76.4932,8.4333,NaN
8,Afghanistan,2092,1.9066,NaN,108430.416,76.3537,8.5686,NaN
9,Afghanistan,2091,1.9044,NaN,108041.524,76.2051,8.7096,NaN

1. Wie haben sich die globalen Selbstmordraten in den letzten x Jahren entwickelt?

2. Wie viel Prozent der Weltbevölkerung sind aktuell Flüchtlinge?

3. Bis 1990 hatten 19 Länder eine Präsidentin, wie viele hatten eine Präsisdentin bis heute?

4. An welchem der folgenden Gründe sterben die meisten Menschen in Afrika

5. Um wie viel Prozent hat sich die Bevölkerung in extremer Armut in den letzten x Jahren verändert?

6. Wie viele Jahre Schulbildung erfahren Kinder im Durchschnitt?

7. Das Einkommen in reichen Ländern hat sich seit xxxx ca. verdoppelt, wie hat sich das Einkommen in dieser Zeit in armen Ländern entwickelt

8. Wie haben sich die Todesfälle durch Naturktastrophen in den letzten xx Jahren verändert?

9. Wie glücklich sind die Menschen weltweit

10. Wie viel Prozent der Kinder unter 6 wurde mindestens einmal geimpft

Fragen durch gapminder.org inspiriert